/* Fuente - Montserrat  */
/* call: font-family: 'Montserrat', sans-serif; */
/* Variables weight: 300 light // 400 Regular // 600 SemiBold*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

/* Color de background y fuente general*/
body {
  font-family: "Montserrat", sans-serif;
}

/* Gradiente del Footer y Navbar*/
footer, .navbar{
  background: #00c9ff;
  background: -webkit-linear-gradient(to right, #92fe9d, #00c9ff);
  background: linear-gradient(to right, #92fe9d, #00c9ff);
  box-shadow: 0 3px 15px rgb(88, 88, 88);
}


/* Grilla principal de index.html */
.grillaSitio {
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  grid-template-areas:
    "header header header header"
    "banner1 banner1 banner1 banner1"
    "banner2 banner2 banner2 banner2"
    "tituloProductos tituloProductos tituloProductos tituloProductos"
    "productoDestacado1 productoDestacado2 productoDestacado3 productoDestacado4"
    "footer footer footer footer";
}

header {
  grid-area: header;
}

.banner1 {
  grid-area: banner1;
}

.logo {
  grid-area: logo;
}

.banner2 {
  grid-area: banner2;
}

.tituloProductos {
  grid-area: tituloProductos;
}

.productoDestacado1 {
  grid-area: productoDestacado1;
}

.productoDestacado2 {
  grid-area: productoDestacado2;
}

.productoDestacado3 {
  grid-area: productoDestacado3;
}

.productoDestacado4 {
  grid-area: productoDestacado4;
}

footer {
  grid-area: footer;
  margin-top: 50px;
}

/* FIN GRILLA INDEX */

/* Grilla Productos */

.grillaProducto {
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  grid-template-areas:
    "header header header header"
    "tituloCPU tituloCPU tituloCPU tituloCPU"
    "imageCPU1 imageCPU2 imageCPU3 imageCPU4"
    "tituloGPU tituloGPU tituloGPU tituloGPU"
    "imageGPU1 imageGPU2 imageGPU3 imageGPU4"
    "tituloMother tituloMother tituloMother tituloMother"
    "imageMother1 imageMother2 imageMother3 imageMother4"
    "tituloRAM tituloRAM tituloRAM tituloRAM"
    "imageRAM1 imageRAM2 imageRAM3 imageRAM4"
    "footer footer footer footer";
}

/* Titulo e imagen CPU */
.tituloCPU {
  grid-area: tituloCPU;
}

.imageCPU1 {
  grid-area: imageCPU1;
}

.imageCPU2 {
  grid-area: imageCPU2;
}

.imageCPU3 {
  grid-area: imageCPU3;
}

.imageCPU4 {
  grid-area: imageCPU4;
}

/* Titulo e Imagen GPU */
.tituloGPU {
  grid-area: tituloGPU;
}

.imageGPU1 {
  grid-area: imageGPU1;
}

.imageGPU2 {
  grid-area: imageGPU2;
}

.imageGPU3 {
  grid-area: imageGPU3;
}

.imageGPU4 {
  grid-area: imageGPU4;
}

/* TItulo e Imagen Mother */

.tituloMother {
  grid-area: tituloMother;
}

.imageGMother {
  grid-area: imageMother1;
}

.imageMother2 {
  grid-area: imageMother2;
}

.imageMother3 {
  grid-area: imageMother3;
}

.imageMother4 {
  grid-area: imageMother4;
}

/* Titulo e Imagen RAM */

.tituloRAM {
  grid-area: tituloRAM;
}

.imageRAM1 {
  grid-area: imageRAM1;
}

.imageRAM2 {
  grid-area: imageRAM2;
}

.imageRAM3 {
  grid-area: imageRAM3;
}

.imageRAM4 {
  grid-area: imageRAM4;
}

/* FIN GRILLA PRODUCTOS */

/* GRILLA Esports */

/* INCOMPLETO */

/* Uso grid area de esta manera para probar un metodo que encontre en google

grid-area: row a iniciar / column a iniciar / rows a ocupar /columnas a ocupar

*/

.grillaEsports {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grillaEsports header {
  grid-area: 1 / 1 / 2 / 4;
}
.grillaEsports .logoKRU {
  grid-area: 2 / 1 / 3 / 2;
}
.grillaEsports .tituloKRU {
  grid-area: 2 / 2 / 3 / 3;
}
.grillaEsports .timelineTwitter {
  grid-area: 2 / 3 / 8 / 4;
}
.grillaEsports footer {
  grid-area: 8 / 1 / 9 / 4;
}
.grillaEsports .videoKRU {
  grid-area: 3 / 1 / 6 / 3;
}
.grillaEsports .textoKRU {
  grid-area: 6 / 1 / 8 / 3;
}

/* Estilos Banner */

.banner1 img,
.banner2 img {
  max-width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

/* Estilo Productos Destacados */

.productoDestacado1 img,
.productoDestacado2 img,
.productoDestacado3 img,
.productoDestacado4 img {
  max-width: 70%;
}

.tituloProductos p {
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.5rem;
}

/* Estilo Footer */
footer nav p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  margin-top: auto;
}

/* Estilo Pagina Productos */

.tituloCPU p,
.tituloGPU p,
.tituloMother p,
.tituloRAM p {
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.5rem;
}

.imageCPU1 img,
.imageCPU2 img,
.imageCPU3 img,
.imageCPU4 img,
.imageGPU1 img,
.imageGPU2 img,
.imageGPU3 img,
.imageGPU4 img,
.imageMother1 img,
.imageMother2 img,
.imageMother3 img,
.imageMother4 img,
.imageRAM1 img,
.imageRAM2 img,
.imageRAM3 img,
.imageRAM4 img {
  width: 70%;
  margin-left: 20px;
}

/* Estilo Pagina Esport */



/* RESPONSIVE INDEX */

@media screen and (max-width: 768px) {
  .grillaSitio {
    display: grid;
    grid-template-columns: repeat (1, 1fr);
    grid-template-areas:
      "header"
      "banner1"
      "banner2"
      "tituloProductos"
      "productoDestacado1"
      "productoDestacado2"
      "productoDestacado3"
      "productoDestacado4"
      "footer";
  }

}

/* RESPONSIVE PAGINA PRODUCTOS */

@media screen and (max-width: 768px) {
  .grillaProducto {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-areas:
      "header header"
      "tituloCPU tituloCPU"
      "imageCPU1 imageCPU2"
      "imageCPU3 imageCPU4"
      "tituloGPU tituloGPU"
      "imageGPU1 imageGPU2"
      "imageGPU3 imageGPU4"
      "tituloMother tituloMother"
      "imageMother1 imageMother2"
      "imageMother3 imageMother4"
      "tituloRAM tituloRAM"
      "imageRAM1 imageRAM2"
      "imageRAM3 imageRAM4"
      "footer footer";
  }
}

/* PRUEBAS */
