/* Fuente - Montserrat  */
/* call: font-family: 'Montserrat', sans-serif; */
/* Variables weight: 300 light // 400 Regular // 600 SemiBold*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

*
/* Color de background y fuente general*/
body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(240, 240, 240);
}

/* Gradiente del Footer y Navbar*/
footer, .navbar{
  background: #00c9ff;
  background: -webkit-linear-gradient(to right, #92fe9d, #00c9ff);
  background: linear-gradient(to right, #92fe9d, #00c9ff);
  box-shadow: 0 3px 15px rgb(88, 88, 88);
}


.btn {
    background-color: #92fe9d;
    }

.card{
    background-color: lightgrey;
    border: -1px;
    border-radius: 0%;
    box-shadow: 0 1px 2px rgb(88, 88, 88);
}