/* Fuente - Montserrat  */
/* call: font-family: 'Montserrat', sans-serif; */
/* Variables weight: 300 light // 400 Regular // 600 SemiBold*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

*
/* Color de background y fuente general*/
body {
  font-family: "Montserrat", sans-serif;
}

/* Temporal - Entrega Maps - Lo utilizo para color de header y footer solo en INDEX*/

// Aca se define color de gradiente y tamaño sombra
$gradientStyle:(color: linear-gradient(to right, #92fe9d, #00c9ff), shadow: 0 3px 15px rgb(88, 88, 88) );

// Aca se llama al mapa para dar el estilo a la clase
.navbar, footer {
    background: map-get($map: $gradientStyle, $key: color );
    box-shadow: map-get($map: $gradientStyle, $key: shadow );
}



// /* Gradiente del Footer y Navbar - Desactivado entrega MAPS*/

// footer, .navbar{
//     background: #00c9ff;
//     background: -webkit-linear-gradient(to right, #92fe9d, #00c9ff);
//     background: linear-gradient(to right, #92fe9d, #00c9ff);
//     box-shadow: 0 3px 15px rgb(88, 88, 88);
//   }
  

/*Clase Temporal para Aplicar Extend - La aplico en Pagina Contacto 
para aplicar underline a los telefonos
No se va a utilizar en entrega final*/

.textSize {
    font-size: 2rem;
}

.phoneUnderline {
    @extend .textSize;
    text-decoration: underline;
} 

/*Clases Temporales para Mixins - Aplico en TItulos Pagina productos*/


@mixin title ($fontSize, $weight){
    font-size: $fontSize;
    font-weight: $weight;
}

.tituloProductos {
    @include title(2rem, bold)
}





