/* Fuente - Montserrat  */
/* call: font-family: 'Montserrat', sans-serif; */
/* Variables weight: 300 light // 400 Regular // 600 SemiBold*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");




/* Color de background y fuente general*/
body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(240, 240, 240);
}

/* Gradiente del Footer y Navbar*/
footer, .navbar{
  background: #00c9ff; 
  background: -webkit-linear-gradient(to right, #92fe9d, #00c9ff);
  background: linear-gradient(to right, #92fe9d, #00c9ff);
  box-shadow: 0 3px 15px rgb(88, 88, 88);
}

/* Botones */

.btn {
  background: #92fe9d; 
  }

/* Tarjetas Productos*/
.tarjetaProducto{
  border: -1px;
  border-radius: 0%;
}

/*Caracteristicas pagina producto*/

.listaSpecs{
  border-radius: 0%;
}


/*Limites Carrousel Pagina Productos*/

.carrouselPaginaProducto{
  max-width: 450px;
  max-height: 402px;
}